@import "./navbar.css";  
main{
    display: grid;
    grid-template-rows: 60% 30%;
    row-gap: 0px;
    padding: 1em 1em;
}
footer{
    border-top: solid black 1px;
    border-width: 70%;
    margin-top: 2em;
}
/*Slideshow styles*/
#left, #right{
    max-height: 1.5em;
    border-radius: 0.5em;
    padding: 0em 0.3em;
    font-weight: bolder;
    margin-top: 1em;
    font-size: 3em;
}
#left:hover, #right:hover{
    outline: none;
    background-color: gray;
}
#left{
    margin-right: 0.7em;
}
#right{
    margin-left: 0.7em;
}
#slide-container{
    margin-top: 1em;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
}
div#box1{
    border: black solid 0.6px;
    box-shadow: 10px 10px 3px gray;
    transition: 0.4s;
    padding: 1em;
    text-align: center;
    font-size: 3em;
    white-space: nowrap;
}
div#box2{
    margin: 0em 1em;
    border: black solid 0.6px;
    box-shadow: 10px 10px 3px gray;
    padding: 1em;
    transition: 0.4s;
    text-align: center;
    font-size: 4em;
    white-space: nowrap;
}
div#box3{
    border: black solid 0.6px;
    box-shadow: 10px 10px 3px gray;
    transition: 0.4s;
    padding: 1em;
    text-align: center;
    font-size: 3em;
    white-space: nowrap;
}
div#createList{
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 1em 0em;
    margin-top: 4em;
    text-align: center;
}
p{
    font-size: 0.7em;
}